.git-search-container {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}

.search-container h1 {
  color: #262626;
  font-weight:bolder;
  font-size: 20px;
  
}

.search-container {
  padding: 10px;
  background-color: #e6f7ff;
  border-radius: 16px;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.search-input {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  font-size: 16px;
  text-align: left;
  padding-left: 10px;
  height: 40px;
  width: 80%;
  margin-bottom: 20px;
}

.search-input::placeholder {
  color: #d3cccc;
}

.search-button {
  height: 40px;
  width: 101px;
  margin-bottom: 10px;
  color: #fff;
}

.git-search-container-inf {
  padding: 20px 0px;
  border-radius: 8px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.return-container {
  background-color: #fff;
  padding: 5px;
  width: 90%;
  height: 90%;
  border-radius: 6px;
  margin-top: 10px;
}
.return-container h4 {
  color: #1890ff;
  font-size: 20px;
}
img {
  height: 247px;
  width: 247px;
}
@media (min-width: 768px) {
  .git-search-container {
    padding: 40px;
  }
  .search-container h1 {
    font-size: 38px;

  }
  .form-container {
    padding: 10px;
  }
  .search-input {
    width: 298px;
  }

}
@media (min-width: 992px) {
  .git-search-container {
    padding: 40px 40px;
  }
  .search-container {
    padding: 40px 10px;
    margin-bottom: 40px;
  }
  .git-search-container-inf {
    padding: 40px 40px;
    flex-direction: row-reverse;
  }
  .return-container {
    padding: 5px;
    width: 902px;
    height: 247px;
    margin-left: 20px;

  }
}
@media (min-width: 1200px) {

  .git-search-container {
    padding: 40px 80px;
  }

}

